<% include layot/header.ejs %>


    <div class="container site">
    <h1 class="text-logo">
        market boof</h1>
     
    <div class="tab-content">
        <div class="tab-pane active" id="1">
            <div class="row">
              
        
         <div id="tm" class="col-sm-6 col-md-4">
                    <div class="thumblail">
                        <img src="image/asparagus-1307604__340.jpg" alt="...">
                        <div class="prix">4500 frs</div>
<div class="caption">
 <h4>plat 1</h4>
 <p>asparagus-</p>
                               <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-shopping-cart"></span>Commander</a>
                            </div>
                    </div>
                </div>
        
             <div id="tm" class="col-sm-6 col-md-4">
                    <div class="thumblail">
                        <img src="image/food-1283108__340.jpg" alt="...">
                        <div class="prix">3500 frs</div>
                            <div class="caption">
                                <h4>plat 2</h4>
                                <p>pizza blanc</p>
                               <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-shopping-cart"></span>Commander</a>
                            </div>
                    </div>
                </div><br><br>
        
             
                 <div id="tm" class="col-sm-6 col-md-4">
                    <div class="thumblail">
                        <img src="image/tarte-2409958__340.jpg" alt="...">
                        <div class="prix">6750 frs</div>
<div class="caption">
 <h4>plat 3</h4>
 <p>les tartes</p>
                               <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-shopping-cart"></span>Commander</a>
                            </div>
                    </div>
                </div>
                
                 <div id="tm" class="col-sm-6 col-md-4">
                    <div class="thumblail">
                        <img src="image/pizza-329523__340.jpg" alt="...">
                        <div class="prix">5000 frs</div>
<div class="caption">
 <h4>pat 4</h4>
 <p>pizza omelette sauté</p>
                               <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-shopping-cart"></span>Commander</a>
                            </div>
                    </div>
                     
                </div>

                <div class="col-sm-6 col-md-4">
                        <div id="tm" class="thumblail">
                            <img src="image/jause-338498__340.jpg" alt="...">
                            <div class="prix">7000 frs</div>
                                <div class="caption">
    <h4>plat 5</h4>         <p>jauset</p>
    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-shopping-cart"></span>Commander</a>
                                </div>
                        </div>
                    </div>
                
                    <div id="tm" class="col-sm-6 col-md-4">
                            <div class="thumblail">
                                <img src="image/salmon-518032__340.jpg" alt="...">
                                <div class="prix">6000 frs</div>
                                    <div class="caption">
                                        <h4>plat 6</h4>
                                        <p>salmon</p>
                                       <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-shopping-cart"></span>Commander</a>
                                    </div>
                            </div>
                        </div>


                        <div id="tm" class="col-sm-6 col-md-4">
                                <div class="thumblail">
                                    <img src="image/pizza-3007395__340.jpg" alt="...">
                                    <div class="prix">6000 frs</div>
                                        <div class="caption">
                                            <h4>plat 6</h4>
                                            <p>Pizza </p>
                                           <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-shopping-cart"></span>Commander</a>
                                        </div>
                                </div>
                            </div>


                            <div id="tm" class="col-sm-6 col-md-4">
                                    <div class="thumblail">
                                        <img src="image/barbecue-1239434__340.jpg" alt="...">
                                        <div class="prix">6000 frs</div>
                                            <div class="caption">
                                                <h4>plat 6</h4>
                                                <p>barbecue </p>
                                               <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-shopping-cart"></span>Commander</a>
                                            </div>
                                    </div>
                                </div>
                        


                                <div id="tm" class="col-sm-6 col-md-4">
                                        <div class="thumblail">
                                            <img src="image/pancakes-2020863__340.jpg" alt="...">
                                            <div class="prix">6000 frs</div>
                                                <div class="caption">
                                                    <h4>plat 6</h4>
                                                    <p>pancakes </p>
                                                   <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-shopping-cart"></span>Commander</a>
                                                </div>
                                        </div>
                                    </div>

                </div>
            </div>
            </div>
        </div>
        <% include layot/footer.ejs %>