<% include layot/header.ejs %>

<div class="jumbotron text-center">
        <h1>bienvenu sur notre menu</h1>
         
      </div>
      
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h2>EMOTION</h2>
            <p>Entrée froide ou chaude</p>
            <p>Saumon mariné à la vanille servi avec blinis, sauce raifort
                    o u
                    Burratine de mozzarella sur tartare de tomates, sauce pistou
                    o u
                    Eclair salé façon salade césar
                    o u
                    Tarte fine filet de rouget, artichaut au basilic
                    o u
                    Velouté de châtaignes, crème fouettée truffée et St-Jacques
                    snakée (selon saison) o u
                    Mille feuille de jambon de parme et crème de figue</p>
          </div>
          <div class="col-sm-4">
            <h2>Plat chaud</h2>
            <p>Plat chaud</p>
            <p>Dos de thon sauce vierge, purée de pomme de terre à l’huile
                    d’olive et tomates rôties
                    o u
                    Caille farcie au foie gras, polenta crémeuse, et pois
                    gourmands
                    o u
                    Hachis Parmentier de confit de canard et foie gras poêlé
                    accompagné de mesclun à l’huile d’olive
                    o u
                    Filet de cabillaud sauce safranée, mini ratatouille et pointes
                    d’asperges vertes
                    o u
                    Pavé de bœuf au poivre vert, rates sautées et asperges vertes
                    o u
                    Emincé de veau, jus corsé, risotto crémeux et carottes fanes
                    </p>
          </div>
          <div class="col-sm-4">
            <h2>Dessert</h2> 
            <p>Lorem ipsum dolor..</p>
            <p>Subtil et crème anglaise
                    Biscuit moelleux, chocolat lait aux éclats de caramel, crémeux caramel
                    chocolaté, ganache légère au lait
                    o u
                    Tarte aux fruits rouges et coulis de fruits rouges
                    o u
                    Eclair chantilly fraises fraîches et coulis de fruits rouges
                    o u
                    Opéra et crème anglaise café
                    o u
                    Caramel pécan servi avec une crème anglaise
                    Pâte sucrée, crémeux caramel, mousse chocolat et noix de Pécan
                    o u
                    Diapason et crème anglaise caramel
                    Meringue, crème pralinée nougatine, enveloppe chocolat lait
                    Glaçons, Evian et Badoit, café et petit pain de campagne
                    individuel.</p>
          </div>
        </div>
      </div>

      <% include layot/footer.ejs %>