.navbar
{
    background-color:  #444;
}

#img{
width: 2000px;
   
}


/* FOOTER */

footer
{
    height: 260px;
    background-color: #444;
}
footer h1
{
    color:#fff;
    text-align: center;
    padding-top: 80px;
}
.copyright
{
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color: #777;
}
